
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ürünler</h2>
<br />
<div class="col-12">
    Buraya arama textbox u gelecek
</div>

<div class="col-12">
    <!--Card arka plana beyaz birşey atıyor.-->
    <div class="card">
        <div class="card-header">
            <a href="/Product/Create"
               class="btn btn-info"
               style="margin-left:5px;">
                Yeni Ürün Ekle
            </a>
        </div>
    </div>
</div>
